@import url("https://fonts.googleapis.com/css2?family=Gluten&family=Open+Sans&family=Roboto:wght@400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Gluten", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/backgroundRepeat.jpg");
  background-repeat: repeat;
  background-position: center center;
}

.container {
  z-index: 5;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.cont-login {
  z-index: 5;
  height: 70%;
  width: 300px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #009688;
  border-radius: 25px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

.box-login {
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 400px; /* Limita el ancho máximo del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  padding: 20px; /* Agrega un espacio interno para el contenido del formulario */
  border-radius: 10px; /* Bordes redondeados */
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0; /* Espacio entre los elementos del formulario */
}

.input-login {
  margin: 10px 0px;
  border: 1px solid #ccc; /* Bordes suaves */
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  width: 90%; /* Ocupa el ancho completo del contenedor */
  height: 30px; /* Aumenta la altura para una mejor usabilidad */
  padding: 5px 10px; /* Espaciado interno adicional para un mejor aspecto */
}

.input-login:focus {
  border: 2px solid #0073e6; /* Cambia el borde cuando el campo está enfocado */
  outline: none; /* Elimina el borde predeterminado del enfoque */
}

.btn-login {
  width: 90%;
  font-size: 22px;
  background-color: #0073e6; /* Color de fondo azul */
  color: #fff; /* Texto blanco */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px;
  padding: 10px 20px; /* Espaciado adicional en el botón */
  font-weight: bold; /* Hace que el texto sea más audaz */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.btn-login:hover {
  background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.forgot-password,
.register {
  text-decoration: none;
  color: #0073e6; /* Color de enlace azul */
  margin: 0 10px; /* Agrega espacio entre los enlaces */
  font-size: 16px;
}

.forgot-password:hover,
.register:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el mouse por encima */
}

.form-control span {
  margin: 0 5px; /* Agrega espacio entre el texto "o" y los enlaces */
  color: #555; /* Color de texto gris */
}

/* Estilos generales para el header */
header {
  background-color: #009688; /* Azul turquesa o Azul del océano */
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
}

/* Estilos para el contenido del header */
.header-content {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas más pequeñas */
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Limita el ancho del contenido del header */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}

/* Estilos para el logo */
.logo {
  display: flex;
  align-items: center;
}

/* Estilos para el icono del logo */
.logo-icon {
  font-size: 36px; /* Tamaño del icono */
  margin-right: 10px; /* Espacio entre el icono y el nombre de la red social */
}

/* Estilos para el nombre de la red social */
.logo-text {
  font-size: 24px; /* Tamaño del texto del nombre de la red social */
  font-weight: bold; /* Hace que el texto sea más audaz */
  color: #333; /* Color del texto (negro) */
}

/* Estilos para la navegación en el header */
.navigation ul {
  list-style: none;
  padding: 0;
  text-align: right; /* Alinea la navegación a la derecha en pantallas más pequeñas */
}

.navigation ul li {
  display: inline;
  margin-right: 20px;
}

.navigation ul li a {
  text-decoration: none;
  color: #e2e2e2;
  font-weight: bold;
  transition: all 0.2s;
}

/* Estilos para el perfil de usuario */
.user-profile {
  display: flex;
  align-items: center;
  font-size: 18px; /* Tamaño de fuente para el nombre de usuario */
  color: #333; /* Color del texto del nombre de usuario (negro) */
}

/* Estilos para el icono de usuario */
.user-profile i {
  font-size: 24px; /* Tamaño del icono de usuario */
  margin-right: 10px; /* Espacio entre el icono y el nombre de usuario */
  color: #ffffff; /* Color del icono de usuario (azul turquesa) */
  transition: all 0.2s;
}

/* Estilos para el icono de cerrar sesión */
.user-profile a {
  text-decoration: none; /* Elimina la subrayado predeterminado del enlace */
  font-size: 24px; /* Tamaño del icono de cerrar sesión */
  margin-left: 10px; /* Espacio entre el nombre de usuario y el icono de cerrar sesión */
}

.user-profile a > i:hover {
  color: rgb(255, 59, 59);
}

/* Cambia el color del enlace al pasar el cursor por encima */
.navigation ul li a:hover {
  color: #ffffff; /* Rosa coral */
}

/* Media query para pantallas más pequeñas (ejemplo: dispositivos móviles) */
@media screen and (max-width: 768px) {
  .header-content {
    flex-direction: column; /* Cambia la dirección de los elementos a vertical */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
  }

  .navigation ul {
    text-align: left; /* Alinea la navegación a la izquierda */
  }

  .logo img {
    margin-right: 0; /* Elimina el margen entre el logo y la navegación */
  }
}
